# Vim swap files
*.swp

# Virtual environments
.venv
venv

# Pyenv local overrides
.python-version

# Python cache files
__pycache__/
*.py[cod]

# Build directories
build

# Coverage files
.coverage
coverage.xml
.coverage.*

# MacOS
*.DS_Store

# Intellij
*.idea*

*.workspace
.DS_Store
/.idea
/.vscode
/dags/**/*.pyc
/db-data
/docker/config/.env.localrunner
/git
/logs
/plugins/**/*.whl
/plugins/*.tar.gz
*.zip
variables*.json
.venv
venv
.mypy_cache
.env
