# Vim swap files
*.swp

# Virtual environments
.venv
venv

# Pyenv local overrides
.python-version

# Python cache files
__pycache__/
*.py[cod]

# Build directories
build

# Ignore dev requirements files.
images/airflow/2.*/requirements-dev.txt
images/airflow/3.*/requirements-dev.txt

# Coverage files
.coverage
coverage.xml
.coverage.*
