# This requirements.txt file is intended for the repository's scripts and
# quality checks, not for the Docker images contained within. It is required for
# running repository scripts and maintenance tasks, such as generating
# Dockerfiles, linting, testing, and other scripts that help ensure code
# quality.
diff-cover==9.2.4
Jinja2==3.1.6
MarkupSafe==2.1.5
nodeenv==1.8.0
pip==24.0
pydocstyle==6.3.0
pyright==1.1.360
psycopg2-binary==2.9.10
pytest==7.4.0
pytest-asyncio==0.23.5
pytest-cov==4.1.0
pytest-mock==3.10.0
ruff==0.4.2
setuptools==70.0.0
snowballstemmer==2.2.0
trufflehog==2.2.1
wheel==0.43.0
