# This requirements.txt file is intended for the repository's scripts and
# quality checks, not for the Docker images contained within. It is required for
# running repository scripts and maintenance tasks, such as generating
# Dockerfiles, linting, testing, and other scripts that help ensure code
# quality.
Jinja2==3.1.3
MarkupSafe==2.1.5
nodeenv==1.8.0
pip==24.0
pydocstyle==6.3.0
pyright==1.1.360
ruff==0.4.2
setuptools==69.5.1
snowballstemmer==2.2.0
wheel==0.43.0
